<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-6">
          <div class="col-sm-12">
          <h1 class="m-3 text-dark">Role-Permission Management</h1>
                
        Sample Code here 
            








        </div>
        <!-- /.col -->    
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
   </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
  </div>
