<div class="card">
    <div class="card-header">
      <h5 class="card-title">Employee Metrics</h5>
  
      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
        >
          <i class="fas fa-minus"></i>
        </button>
        
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="remove"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>INDICATOR</th>
                  <th>TODAY</th>
                  <th>THIS WEEK</th>
                  <th>THIS MONTH</th>
                  <th>THIS ROLLING QUATER</th>
                  <th>THIS YEAR</th>
                  <th>LAST YEAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Active Male Employees</td>
                  <td>509</td>
                  <td>509</td>
                  <td>509</td>
                  <td>509</td>
                  <td>509</td>
                  <td>509</td>
                </tr>
  
                <tr>
                    <td>Active Female Employees</td>
                    <td>369</td>
                    <td>369</td>
                    <td>369</td>
                    <td>369</td>
                    <td>369</td>
                    <td>369</td>
                  </tr>
  
                  <tr>
                    <td>Female to Male Ratio</td>
                    <td>0.72</td>
                    <td>0.72</td>
                    <td>0.72</td>
                    <td>0.72</td>
                    <td>0.72</td>
                    <td>0.72</td>
                  </tr>
  
                  <tr>
                    <td>Precent Male Employees</td>
                    <td>N/A</td>
                    <td>0.00</td>
                    <td>1.00</td>
                    <td>1.00</td>
                    <td>1.10</td>
                    <td>1.11</td>
                  </tr>

                  <tr>
                    <td>Employees</td>
                    <td>888</td>
                    <td>888</td>
                    <td>887</td>
                    <td>887</td>
                    <td>887</td>
                    <td>887</td>
                  </tr>
  
                  <tr>
                    <td>Revenue</td>
                    <td>Rs 1,654,564</td>
                    <td>Rs 1,654,453</td>
                    <td>Rs 1,654,789</td>
                    <td>Rs 1,654,564</td>
                    <td>Rs 1,654,564</td>
                    <td>Rs 1,654,512</td>
                  </tr>


                  <tr>
                    <td>Revenue Per Employee</td>
                    <td>Rs 1,654</td>
                    <td>Rs 1,655</td>
                    <td>Rs 1,651</td>
                    <td>Rs 1,644</td>
                    <td>Rs 1,588</td>
                    <td>Rs 1,644</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <!-- /.chart-responsive -->
        </div>
        <!-- /.col -->
  
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-3 col-6">
          <div class="description-block border-right">
            
            
            <span class="description-text"
              >ACTIVE MALE EMPLOYEES</span
            >
            <h5 class="description-header">5352</h5>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-3 col-6">
          <div class="description-block border-right">
            
            
            <span class="description-text">FEMALE TO MALE RATIO</span>
            <h5 class="description-header">322</h5>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-3 col-6">
          <div class="description-block border-right">
            <span class="description-text">EMPLOYEES</span>
            <h5 class="description-header">5232</h5>
            
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-3 col-6">
          <div class="description-block">
            <span class="description-text">REVENUE PER EMPLOYEE</span>
            <h5 class="description-header">1,126,120</h5>
          </div>
          <!-- /.description-block -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-footer -->
  </div>
