
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)='onSubmit(signInForm)'  #signInForm='ngForm'>
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ngModel>
                
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required ngModel>
               
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
        </div>    
    </div>
    
</div>




