<div class="card">
  <div class="card-header">
    <h5 class="card-title">Key Performance Indicator</h5>

    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
      
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table m-0">
            <thead>
              <tr>
                <th>INDICATOR</th>
                <th>PERIOD</th>
                <th>CURRENT</th>
                <th>PREVIOUS</th>
                <th>CHANGE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total Active Employees</td>
                <td>This Month vs. Last Month</td>
                <td>5352</td>
                <td>5209</td>
                <td>
                  <span class="description-percentage text-success"
                    ><i class="fas fa-caret-up"></i> 2.7%</span
                  >
                </td>
              </tr>

              <tr>
                <td>Total Active Female Employees</td>
                <td>This Month vs. Last Month</td>
                <td>2601</td>
                <td>2529</td>
                <td>
                  <span class="description-percentage text-success"
                    ><i class="fas fa-caret-up"></i> 2.8%</span
                  >
                </td>
              </tr>

              <tr>
                <td>Total Active Male Employees</td>
                <td>This Month vs. Last Month</td>
                <td>2751</td>
                <td>2670</td>
                <td>
                  <span class="description-percentage text-success"
                    ><i class="fas fa-caret-up"></i> 3.0%</span
                  >
                </td>
              </tr>

              <tr>
                <td>New Hires</td>
                <td>This Month vs. Last Month</td>
                <td>172</td>
                <td>160</td>
                <td>
                  <span class="description-percentage text-success"
                    ><i class="fas fa-caret-up"></i> 7.5%</span
                  >
                </td>
              </tr>

              <tr>
                <td>Terminations</td>
                <td>This Month vs. Last Month</td>
                <td>-29</td>
                <td>-27</td>
                <td>
                  <span class="description-percentage text-danger"
                    ><i class="fas fa-caret-down"></i> 7.4%</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.chart-responsive -->
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- ./card-body -->
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-3 col-6">
        <div class="description-block border-right">
          <span class="description-percentage text-success"
            ><i class="fas fa-caret-up"></i> 17%</span
          >
          <h5 class="description-header">5352</h5>
          <span class="description-text"
            >TOTAL ACTIVE EMPLOYEES</span
          >
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-3 col-6">
        <div class="description-block border-right">
          <span class="description-percentage text-success"
            ><i class="fas fa-caret-up"></i> 7.5%</span
          >
          <h5 class="description-header">322</h5>
          <span class="description-text">NEW HIRES</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-3 col-6">
        <div class="description-block border-right">
          <span class="description-percentage text-success"
            ><i class="fas fa-caret-up"></i> 20%</span
          >
          <h5 class="description-header">6</h5>
          <span class="description-text">TREMINATIONS</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-3 col-6">
        <div class="description-block">
          <span class="description-percentage text-danger"
            ><i class="fas fa-caret-down"></i> 18%</span
          >
          <h5 class="description-header">1200</h5>
          <span class="description-text">EMPLOYEE ABSENTEEISM</span>
        </div>
        <!-- /.description-block -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.card-footer -->
</div>