<div class="wrapper">
  <!-- Navbar -->
<div class="navbar" *ngIf='authenticationService.isAuthenticated'>
  <app-navbar></app-navbar>

</div>

  <!-- /.navbar -->
  <!-- Main Sidebar Container -->

  <div class="sidebar" *ngIf='authenticationService.isAuthenticated'>
    <app-sidebar></app-sidebar>

  </div>
  
  
  <!-- Content Wrapper. Contains page content-->

<router-outlet></router-outlet>
  <!-- /.content-wrapper -->
  <!-- Control Side bar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer" *ngIf='authenticationService.isAuthenticated'>
    <strong
      >Copyright &copy; 2020 <a href="http://www.cba.lk">CBA-IT</a>.</strong
    >
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block" *ngIf='authenticationService.isAuthenticated'><b>Version</b> 2.0.0</div>
  </footer>
</div>

