<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div>
        <!-- /.col -->
  
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info"
                ><i class="far fa-bookmark"></i
              ></span>
              <div class="info-box-content">
                <span class="info-box-text">Employee Turnover</span>
                <span class="info-box-text"
                  >Current <b>29</b> | Previous <b>27</b>
                </span>
                <div class="progress">
                  <div class="progress-bar bg-info" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info"
                ><i class="far fa-bookmark"></i
              ></span>
              <div class="info-box-content">
                <span class="info-box-text">Leave Taken</span>
                <span class="info-box-number">41</span>
                <div class="progress">
                  <div class="progress-bar bg-info" style="width: 18%"></div>
                </div>
                <span class="progress-description">
                  18% of Total Employees
                </span>
              </div>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info"
                ><i class="fas fa-plus-circle"></i
              ></span>
              <div class="info-box-content">
                <span class="info-box-text">New Vacancies</span>
                <span class="info-box-number">4</span>
                <div class="progress">
                  <div class="progress-bar bg-info" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info"
                ><i class="far fa-bookmark"></i
              ></span>
              <div class="info-box-content">
                <span class="info-box-text">Time off Requests</span>
                <span class="info-box-number">6</span>
                <div class="progress">
                  <div class="progress-bar bg-info" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                  70% Increase in 30 Days
                </span>
              </div>
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">  




            <!-- key performance INDICATOR Start from here-->


            <app-key-performace-indicator></app-key-performace-indicator>


            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">  

            <app-employee-metrics></app-employee-metrics>           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-8">
            <!-- For Calandar-->
            <app-calendar></app-calendar>
            <!-- /.card -->
            <div class="row">
              <div class="col-md-6">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                    <h3 class="card-title">Direct Chat</h3>

                    <div class="card-tools">
                      <span
                        data-toggle="tooltip"
                        title="3 New Messages"
                        class="badge badge-warning"
                        >3</span
                      >
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="collapse"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-toggle="tooltip"
                        title="Contacts"
                        data-widget="chat-pane-toggle"
                      >
                        <i class="fas fa-comments"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="remove"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left"
                            >Alexander Pierce</span
                          >
                          <span class="direct-chat-timestamp float-right"
                            >23 Jan 2:00 pm</span
                          >
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img
                          class="direct-chat-img"
                          src="assets/user1-128x128.jpg"
                          alt="message user image"
                        />
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          Are you on leave today ?
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->

                      <!-- Message to the right -->
                      <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-right"
                            >Sarah Bullock</span
                          >
                          <span class="direct-chat-timestamp float-left"
                            >23 Jan 2:05 pm</span
                          >
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img
                          class="direct-chat-img"
                          src="assets/user3-128x128.jpg"
                          alt="message user image"
                        />
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          Yes, I have sent you a mail
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->

                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left"
                            >Alexander Pierce</span
                          >
                          <span class="direct-chat-timestamp float-right"
                            >23 Jan 5:37 pm</span
                          >
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img
                          class="direct-chat-img"
                          src="assets/user1-128x128.jpg"
                          alt="message user image"
                        />
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          What is the current status of the project? can we discuss this tomorrow ?
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->

                      <!-- Message to the right -->
                      <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-right"
                            >Sarah Bullock</span
                          >
                          <span class="direct-chat-timestamp float-left"
                            >23 Jan 6:10 pm</span
                          >
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img
                          class="direct-chat-img"
                          src="assets/user3-128x128.jpg"
                          alt="message user image"
                        />
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">OK sure</div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->

                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                      <ul class="contacts-list">
                        <li>
                          <a href="#">
                            <img
                              class="contacts-list-img"
                              src="assets/user1-128x128.jpg"
                            />
                            <div class="contacts-list-info">
                              <span class="contacts-list-name">
                                Count Dracula
                                <small class="contacts-list-date float-right"
                                  >2/28/2015</small
                                >
                              </span>
                              <span class="contacts-list-msg"
                                >How have you been? I was...</span
                              >
                            </div>
                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->
                        <li>
                          <a href="#">
                            <img
                              class="contacts-list-img"
                              src="assets/user7-128x128.jpg"
                            />

                            <div class="contacts-list-info">
                              <span class="contacts-list-name">
                                Sarah Doe
                                <small class="contacts-list-date float-right"
                                  >2/23/2015</small
                                >
                              </span>
                              <span class="contacts-list-msg"
                                >I will be waiting for...</span
                              >
                            </div>
                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->
                        <li>
                          <a href="#">
                            <img
                              class="contacts-list-img"
                              src="assets/user3-128x128.jpg"
                            />

                            <div class="contacts-list-info">
                              <span class="contacts-list-name">
                                Nadia Jolie
                                <small class="contacts-list-date float-right"
                                  >2/20/2015</small
                                >
                              </span>
                              <span class="contacts-list-msg"
                                >I'll call you back at...</span
                              >
                            </div>
                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->
                        <li>
                          <a href="#">
                            <img
                              class="contacts-list-img"
                              src="assets/user5-128x128.jpg"
                            />

                            <div class="contacts-list-info">
                              <span class="contacts-list-name">
                                Nora S. Vans
                                <small class="contacts-list-date float-right"
                                  >2/10/2015</small
                                >
                              </span>
                              <span class="contacts-list-msg"
                                >Where is your new...</span
                              >
                            </div>
                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->
                        <li>
                          <a href="#">
                            <img
                              class="contacts-list-img"
                              src="assets/user6-128x128.jpg"
                            />

                            <div class="contacts-list-info">
                              <span class="contacts-list-name">
                                John K.
                                <small class="contacts-list-date float-right"
                                  >1/27/2015</small
                                >
                              </span>
                              <span class="contacts-list-msg"
                                >Can I take a look at...</span
                              >
                            </div>
                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->
                        <li>
                          <a href="#">
                            <img
                              class="contacts-list-img"
                              src="assets/user8-128x128.jpg"
                            />

                            <div class="contacts-list-info">
                              <span class="contacts-list-name">
                                Kenneth M.
                                <small class="contacts-list-date float-right"
                                  >1/4/2015</small
                                >
                              </span>
                              <span class="contacts-list-msg"
                                >Never mind I found...</span
                              >
                            </div>
                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->
                      </ul>
                      <!-- /.contacts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <form action="#" method="post">
                      <div class="input-group">
                        <input
                          type="text"
                          name="message"
                          placeholder="Type Message ..."
                          class="form-control"
                        />
                        <span class="input-group-append">
                          <button type="button" class="btn btn-warning">
                            Send
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                  <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
              </div>
              <!-- /.col -->

              <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Today Leaves</h3>

                    <div class="card-tools">
                      <span class="badge badge-danger">20 are on Leaves</span>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="collapse"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="remove"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="users-list clearfix">
                      <li>
                        <img src="assets/user1-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Mr.Kasun Chamara</a>
                        <span class="users-list-date">IT</span>
                      </li>
                      <li>
                        <img src="assets/user8-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Mr. Nimal</a>
                        <span class="users-list-date">Accounts</span>
                      </li>
                      <li>
                        <img src="assets/user7-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#"
                          >Miss. Karunaratne</a
                        >
                        <span class="users-list-date">Sales</span>
                      </li>
                      <li>
                        <img src="assets/user6-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Mr. Perera</a>
                        <span class="users-list-date">IT</span>
                      </li>
                      <li>
                        <img src="assets/user2-160x160.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Mr. Lakmal</a>
                        <span class="users-list-date">IT</span>
                      </li>
                      <li>
                        <img src="assets/user5-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Mrs. Harshani</a>
                        <span class="users-list-date">HR</span>
                      </li>
                      <li>
                        <img src="assets/user4-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Miss. Ranatunga</a>
                        <span class="users-list-date">IT</span>
                      </li>
                      <li>
                        <img src="assets/user3-128x128.jpg" alt="User Image" />
                        <a class="users-list-name" href="#">Mrs. Aponsu</a>
                        <span class="users-list-date">Accounts</span>
                      </li>
                    </ul>
                    <!-- /.users-list -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="javascript::">View All</a>
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!--/.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Newly Joined Employees</h3>

                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                      <tr>
                        <th>Emp No</th>
                        <th>Designation</th>
                        <th>Status</th>
                        <th>Joined Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0002</a>
                        </td>
                        <td>Manager - IT</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            2020-10-11
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0003</a>
                        </td>
                        <td>Software Engineer</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#f39c12"
                            data-height="20"
                          >
                            2020-09-11
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0010</a>
                        </td>
                        <td>Software Engineer</td>
                        <td>
                          <span class="badge badge-danger">Inactive</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#f56954"
                            data-height="20"
                          >
                            2020-10-10
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0120</a>
                        </td>
                        <td>Store Keper</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00c0ef"
                            data-height="20"
                          >
                            2020-10-01
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0007</a>
                        </td>
                        <td>System Admin</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#f39c12"
                            data-height="20"
                          >
                            2020-10-03
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0150</a>
                        </td>
                        <td>Senior Manager</td>
                        <td>
                          <span class="badge badge-danger">Inactive</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#f56954"
                            data-height="20"
                          >
                            2020-10-09
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="pages/examples/invoice.html">EMP0450</a>
                        </td>
                        <td>Software Engineer - Android</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>
                          <div
                            class="sparkbar"
                            data-color="#00a65a"
                            data-height="20"
                          >
                            2020-09-26
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-info float-left"
                  >Add New</a
                >
                <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-secondary float-right"
                  >View All Employees</a
                >
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 bg-warning">
              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Work From Home Today</span>
                <span class="info-box-number">12</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-success">
              <span class="info-box-icon"><i class="far fa-heart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Active Today</span>
                <span class="info-box-number">100 + 120 + 50 + 60 = 330 </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-danger">
              <span class="info-box-icon"
                ><i class="fas fa-exclamation-triangle"></i
              ></span>

              <div class="info-box-content">
                <span class="info-box-text">Complains</span>
                <span class="info-box-number">14</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-info">
              <span class="info-box-icon"><i class="far fa-comment"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Direct Messages</span>
                <span class="info-box-number">19</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->




      <!-- browser usage start here -->
        <app-kpi-meter></app-kpi-meter>

            
            <!-- /.card -->

            <!-- PRODUCT LIST -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Birthdays</h3>

                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                  <li class="item">
                    <div class="product-img">
                      <img
                        src="assets/default-150x150.png"
                        alt="Product Image"
                        class="img-size-50"
                      />
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title"
                        >Mr. Kasun
                        <span class="badge badge-success float-right"
                          >Today</span
                        ></a
                      >
                      <span class="product-description"> IT dept </span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img
                        src="assets/default-150x150.png"
                        alt="Product Image"
                        class="img-size-50"
                      />
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title"
                        >Miss. Kumari
                        <span class="badge badge-info float-right"
                          >Today</span
                        ></a
                      >
                      <span class="product-description"> Accounts Dept </span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img
                        src="assets/default-150x150.png"
                        alt="Product Image"
                        class="img-size-50"
                      />
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">
                        Mr. Kamal
                        <span class="badge badge-info float-right">
                          Tomorrow
                        </span>
                      </a>
                      <span class="product-description"> Sales Dept </span>
                    </div>
                  </li>
                  <!-- /.item -->
                  <li class="item">
                    <div class="product-img">
                      <img
                        src="assets/default-150x150.png"
                        alt="Product Image"
                        class="img-size-50"
                      />
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title"
                        >Mr. Hashan
                        <span class="badge badge-info float-right"
                          >25th of Oct</span
                        ></a
                      >
                      <span class="product-description"> IT Dept </span>
                    </div>
                  </li>
                  <!-- /.item -->
                </ul>
              </div>
              <!-- /.card-body -->
              <div class="card-footer text-center">
                <a href="javascript:void(0)" class="uppercase"
                  >View All Bithdays</a
                >
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  
  
  
  
  </div>

