<div class="card">
    <div class="card-header">
      <h5 class="card-title">KPI Meter</h5>

      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
        >
          <i class="fas fa-minus"></i>
        </button>
        
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="remove"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

      <div class="description-block border-right">
        <span class="description-text"
          >TOTAL HEAD COUNT</span
        >
        <h5 class="description-header">5352</h5>
        
      </div>
      <div class="container p-5">
        <div class="progress" [attr.data-percentage]="dataPrecentage">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">
            <div>
              {{dataPrecentage}}%<br>
              <span>OF ALL EMPLOYEES</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
     
    </div>
    <!-- /.card-footer -->
  </div>