<div class="card">
    <div class="card-header">
      <h5 class="card-title">KPI Meter</h5>

      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="collapse"
        >
          <i class="fas fa-minus"></i>
        </button>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-tool dropdown-toggle"
            data-toggle="dropdown"
          >
            <i class="fas fa-wrench"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <a href="#" class="dropdown-item">Action</a>
            <a href="#" class="dropdown-item">Another action</a>
            <a href="#" class="dropdown-item">Something else here</a>
            <a class="dropdown-divider"></a>
            <a href="#" class="dropdown-item">Separated link</a>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-tool"
          data-card-widget="remove"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="container p-5">
        <div class="progress" data-percentage="74">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">
            <div>
              74%<br>
              <span>completed</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
     
    </div>
    <!-- /.card-footer -->
  </div>
